pytest==7.4.4
allure-pytest==2.13.5
selene~=2.0.0rc9
selenium~=4.25.0
python-dotenv~=1.0.1
pydantic~=1.10.18
pip~=24.2
attrs~=24.2.0
automium_web~=0.1.1
filelock~=3.16.1
typing_extensions~=4.12.2
packaging~=24.1
platformdirs~=4.3.6
build~=1.2.2
config~=0.5.1
future~=1.0.0
requests~=2.32.3